apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: nickgotswag/flask-app:latest # Замените на свой образ
        ports:
        - containerPort: 5000
        env:
        - name: REDIS_HOST
          value: "redis" # Имя сервиса Redis