apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: NodePort  # Делаем сервис доступным снаружи
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30000  # Порт на ноде (30000-32767)